<style>
.errorText {color: #D8000C;}
.panel {display: inline-block; width: 25%; vertical-align: top; padding: 10px}
</style>
<div class="container" ng-controller="userController">
  <div ng-hide="!showAddPanel">
    <div class = "panel">
        <label>Email:</label><input class="form-control" type="text"
        ng-model="newUser.email"><span class="errorText">{{invalidAdd.name}}</span>
        <label>Password:</label><input class="form-control" type="password"
        ng-model="newUser.address"><span class="errorText">{{invalidAdd.name}}</span>
  </div>
<div>
    <button  class="btn btn-success" ng-click="addBusiness(newBusiness)">Save</button>
    <button  class="btn btn-warning" ng-click="showAddPanel = false">Cancel</button>
</div>
</div>
<div ng-hide="showAddPanel">
    <button  class="btn btn-info" ng-click="showAddPanel = true">Add A Business</button>
</div>
<label>Filter By Email<input ng-model="search.email"></label>
<label>Filter By Admin<input ng-model="search.isSuperAdmin"></label>
  <table class="table table-striped table-bordered table-hover table-condensed">
    <thead>
      <td colspan="2">User</td>
      <td>Password</td>
      <td>SuperAdmin Status</td>
      <td>Actions</td>
    </thead>
    <tbody>
      <tr ng-repeat="user in users | filter:search" ng-include="getTemplate(users)">
        <script type="text/ng-template" id="display">
        <td>{{user.email}}</td>
        <td>{{user.password}}</td>
        <td>{{user.isSuperAdmin}}</td>
        <td>
          <button  class="btn btn-success" ng-click="editUser(user)">Edit</button>
          <button  class="btn btn-danger" ng-click="removeUser(user._id)">Delete</button>
        </td>
        </script>
        <script type="text/ng-template" id="edit">
        <td>
            <label>Email:</label><input class="form-control" type="text"
            ng-model="selectedUser.email"><span class="errorText">{{invalidAdd.name}}</span>
            <label>Password:</label><input class="form-control" type="password"
            ng-model="selectedUser.password"><span class="errorText">{{invalidAdd.name}}</span>
            <label>SuperAdmin:</label>
            <input class="form-control" type="radio"
            ng-model="selectedUser.isSuperAdmin" value="true">
            <input class="form-control" type="radio"
            ng-model="selectedUser.isSuperAdmin" value="false">
        <td><button type="button" class="btn btn-info"  ng-click="updateBusiness()">Save</button></td>
        </script>
      </tr>
    </tbody>
  </table>
</div>
